<% provide :title, t("home") %>
<main class="space-y-10 pb-10">
  <div class="w-full relative">
    <%= image_tag "hero.avif", alt: "sample app logo", class: "w-full h-[70vh] opacity-80" %>
    <%= link_to t("home_page.start_reading"), books_path, class: "absolute bottom-20 left-[10vw] rounded-full bg-card text-primary hover:text-white hover:bg-primary duration-300 border-2 border-primary font-semibold text-2xl p-2 px-4" %>
  </div>
  <section class="container space-y-10 mx-auto px-24">
    <% if flash[:danger] %>
      <div class="py-2 px-4 text-lg rounded-lg bg-red-500 text-white mb-5">
        <%= t "ban_message" %>
      </div>
    <% end %>
    <div class="space-y-5">
      <h2 class="font-semibold text-4xl "><%= t "home_page.book_series" %></h2>
      <div class="grid grid-cols-2 gap-10">
        <%= render @book_series %>
      </div>
    </div>
    <%= render partial: "categories/categories_with_books", collection: @categories_with_books, as: :category %>
  </section>
</main>
