<%= table_body do %>
  <%= table_row do %>
    <%= table_column do %>
      <%= book_counter + @pagy.offset + 1 %>
    <% end %>
    <%= table_column do %>
      <div class="w-96 overflow-hidden whitespace-nowrap text-ellipsis">
        <%= book.title %>
      </div>
    <% end %>
    <%= table_column do %>
      <%= book.ratings.average(:rating) ? "#{book.ratings.average(:rating).round(1)} (#{book.ratings.count})" : "0 (0)" %> <i class="bi bi-star-fill text-yellow-400 mr-2"></i>
    <% end %>
    <%= table_column do %>
      <%= book.comments.count %>
    <% end %>
    <%= table_column do %>
      <%= book.quantity %>
    <% end %>
    <%= table_column do %>
      <%= book.borrow_books.count_borrowing %>
    <% end %>
    <%= table_column do %>
      <%= render_dialog do %>
        <%= dialog_trigger do %>
          <%= link_to t("profile_menu.profile"),{}, class: "text-sky-600" %>
        <% end %>
        <%= render "book_details", book: book %>
      <% end %>
    <% end %>
    <%= table_column do %>
      <%= button_to t("delete"),
                  admin_book_path(book),
                  method: :delete,
                  class: "p-3 py-1 font-semibold border rounded-md font-medium text-white " +
                         (book.borrow_books.count_borrowing > 0 ? "bg-gray-300 text-gray-500 cursor-not-allowed border-gray-300" : "bg-red-500 hover:opacity-[70%] cursor-pointer border-red-700 hover:border-transparent"),
                  disabled: book.borrow_books.count_borrowing > 0,
                  form: { data: { turbo_confirm: t("activerecord.attributes.book.delete_confirm") } } %>
    <% end %>
  <% end %>
<% end %>
