<% provide :page_title, t("borrow_books_title") %>
<h1 class="mt-4 text-3xl font-semibold py-6"><%= t "borrow_books_title" %></h1>
<%= render_table do %>
  <%= table_head do %>
    <%= table_header t("borrow_books.book.book_id"), class: "w-1/10" %>
    <%= table_header class: "w-1/4" do %>
      <%= t "title" %>
    <% end %>
    <%= table_header t("borrow_books.book.request_id"), class: "w-1/10"  %>
    <%= table_header t("borrow_books.book.user_name"), class: "w-1/8"  %>
    <%= table_header t("borrow_books.book.borrow_date"), class: "w-1/10" %>
    <%= table_header "", class: "w-1/6" %>
  <% end %>
  <%= table_body do %>
    <% @borrowed_books.each.with_index do |book, i| %>
      <%= table_row do %>
        <%= table_column do %>
          <%= book.id %>
        <% end %>
        <%= table_column do %>
          <%= book.title %>
        <% end %>
        <%= table_column do %>
          <%= book.request_id %>
        <% end %>
        <%= table_column do %>
          <%= book.user_name %>
        <% end %>
        <%= table_column do %>
          <%= book.borrow_date %>
        <% end %>
        <%= table_column do %>
          <%= form_with url: mark_as_returned_admin_borrow_books_path, method: :patch, local: true do %>
            <%= hidden_field_tag :book_id, book.id %>
            <%= hidden_field_tag :request_id, book.request_id %>
            <%= submit_tag t("mark_as_returned"), class: "btn btn-primary inline-block rounded-lg px-4 py-2 border bg-primary text-white" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @borrowed_books.empty? %>
  <%= render "shared/no_data" %>
<% else %>
  <div class="w-full items-center justify-center flex py-5">
    <%== pagy_nav(@borrowed_pagy) %>
  </div>
<% end %>
