<%= render_form_with model: author, url: url, method: method do |form| %>
  <div class="grid grid-cols-1 items-baseline mb-4">
    <%= form.label :name, t("activerecord.attributes.author.name"), class: "text-left mr-4 text-lg" %>
    <%= form.text_field :name %>
  </div>
  <div class="grid grid-cols-1 items-baseline">
    <%= form.label :birth, t("activerecord.attributes.author.birth"), class: "text-left mr-4 text-lg" %>
    <%= form.date_field :birth, class: "col-span-2 mb-2 rounded-md border border-input bg-background" %>
  </div>
  <div class="grid grid-cols-1 items-baseline">
    <%= form.label :gender, t("activerecord.attributes.author.gender"), class: "text-left mr-4 text-lg" %>
    <%= form.select :gender, options_for_select(gender_options_for_select, @author.gender), {}, class: "col-span-2 mb-2 rounded-md border border-input bg-background" %>
  </div>
  <div class="grid grid-cols-1 items-baseline mb-4">
    <%= form.label :bio, t("activerecord.attributes.author.bio"), class: "text-left mr-4 text-lg" %>
    <%= form.text_area :bio, class: "col-span-2 mb-2 rounded-md border border-input bg-background" %>
  </div>
  <div class="grid grid-cols-1 items-baseline mb-4">
    <%= form.label :nationality, t("activerecord.attributes.author.nationality"), class: "text-left mr-4 text-lg" %>
    <%= form.text_field :nationality %>
  </div>
  <div class="mb-4">
    <label for="author_profile_image" class="block text-left text-lg font-medium text-gray-700">
      <%= t("activerecord.attributes.author.profile_image") %>
    </label>
    <label id="dropzone" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
      <div class="flex flex-col items-center justify-center pt-5 pb-6 absolute ">
        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
        </svg>
        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold"><%= t "click_to_upload" %></span></p>
        <p class="text-xs text-gray-500 dark:text-gray-400"><%= Settings.type_img %></p>
      </div>
      <img id="image-preview" src="#" alt="Image Preview" class="hidden max-h-64 rounded-lg z-10"/>
      <%= form.file_field :profile_image, class:"field absolute top-0 right-0 opacity-0" %>
    </label>
  </div>
  <div class="flex justify-center">
    <%= form.submit yield(:button_text) %>
  </div>
<% end %>
