<% provide :page_title, t("author.index.title") %>
<div class="flex justify-between items-center">
  <h1 class="text-xl font-semibold"><%= t("author.index.title") %></h1>
  <%= link_to t("author.index.add"), new_admin_author_path, class: "mr-8 h-10 px-4 py-2 bg-primary text-primary-foreground hover:bg-primary/90 rounded-md font-medium" %>
</div>
<%= render_table do %>
  <%= table_head do %>
    <%= table_header t("author.index.stt") %>
    <%= table_header t("activerecord.attributes.author.id") %>
    <%= table_header t("activerecord.attributes.author.name") %>
    <%= table_header t("activerecord.attributes.author.gender") %>
    <%= table_header t("activerecord.attributes.author.nationality") %>
    <%= table_header t("activerecord.attributes.author.book_quantity") %>
    <%= table_header %>
  <% end %>
  <%= table_body do %>
    <% render @authors %>
  <% end %>
<% end %>
<div class="w-full items-center justify-center flex py-5">
  <%== pagy_nav(@pagy) %>
</div>
