<% provide :page_title, t("user.show.title") %>
<main class="container relative mx-auto mt-[84px] px-5">
  <div class="flex w-full py-10 gap-10 relative ">
    <div  class="border-2 flex-1 sticky top-32 h-2/5 w-80 overflow-hidden rounded-lg">
      <%= image_tag @user.profile_image.attached? ? @user.profile_image : "default_avatar.png", alt: "cover", class: "w-full" %>
      <%= render_dialog do %>
        <%= dialog_trigger do %>
          <button class="absolute bottom-2 right-2 p-1 px-2 bg-gray-500 bg-opacity-75 text-white rounded-full text-sm">
            <i class="bi bi-camera text-2xl"></i>
          </button>
        <% end %>
        <%= dialog_content do %>
          <h2 class="mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0"><%= t "user.show.update_avatar" %></h2>
          <%= render_form_for(@user, class: "w-full py-5") do |form| %>
            <label id="dropzone" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
              <div class="flex flex-col absolute items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold"><%= t "click_to_upload" %></span></p>
                <p class="text-xs text-gray-500 dark:text-gray-400"><%= Settings.type_img %></p>
              </div>
              <img id="image-preview" src="#" alt="Image Preview" class="hidden max-h-64 rounded-lg z-10"/>
              <%= form.file_field :profile_image, class:"field absolute top-0 right-0 opacity-0" %>
            </label>
            <div class="flex justify-center mt-5">
              <%= form.submit t("update") %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class=" flex-[2] space-y-4">
      <div class="border-2 shadow-md p-5 bg-card rounded-lg space-y-2">
        <div class="flex items-center justify-between">
          <h2 class="font-bold text-primary text-3xl"><%= t "user.show.title" %></h2>
          <%= link_to t("user.show.edit"), edit_user_path(@user), class: "mr-2 p-3 py-1 bg-transparent hover:bg-primary text-primary font-semibold hover:text-white border border-primary hover:border-transparent rounded-md font-medium" %>
        </div>
      </div>
      <div class="border-2 shadow-md p-5 bg-card rounded-lg space-y-2 ">
        <p class="text-xl">
          <strong><%= t "activerecord.attributes.user.name" %> :</strong>
          <%= @user.name %>
        </p>
        <p class="text-xl">
          <strong><%= t "activerecord.attributes.account.email" %> :</strong>
          <%= @user.email %>
        </p>
        <p class="text-xl">
          <strong><%= t "activerecord.attributes.user.citizen_id" %> :</strong>
          <%= @user.citizen_id %>
        </p>
        <p class="text-xl">
          <strong><%= t "activerecord.attributes.user.birth" %> :</strong>
          <%= @user.birth %>
        </p>
        <p class="text-xl">
          <strong><%= t "activerecord.attributes.user.gender" %> :</strong>
          <%= @user.gender %>
        </p>
        <p class="text-xl">
          <strong><%= t "activerecord.attributes.user.address" %> :</strong>
          <%= @user.address %>
        </p>
        <p class="text-xl">
          <strong><%= t "activerecord.attributes.user.phone" %> :</strong>
          <%= @user.phone %>
        </p>
        <p class="text-xl">
          <strong><%= t "account.last_sign_in_at" %>:</strong>
          <%= current_account.last_sign_in_at ? l(current_account.last_sign_in_at) : t("not_available") %>
        </p>
        <p class="text-xl">
          <strong><%= t "account.current_sign_in_at" %>:</strong>
          <%= current_account.current_sign_in_at ? l(current_account.current_sign_in_at) : t("not_available") %>
        </p>
        <p class="text-xl">
          <strong><%= t "account.sign_in_count" %>:</strong>
          <%= current_account.sign_in_count %>
        </p>
        <p class="text-xl">
          <strong><%= t "account.last_sign_in_ip" %>:</strong>
          <%= current_account.last_sign_in_ip || t("not_available") %>
        </p>
      </div>
    </div>
  </div>
</main>
