<h1><%= t "request_mailer.failure.subject" %></h1>
<p><%= t "request_mailer.failure.hello", name: @request.user.name %></p>
<p><%= t "request_mailer.failure.message", description: @request.description %></p>
<p>
  <%= link_to t("request_mailer.view_request"), requests_url %>
</p>
<p><%= t "request_mailer.failure.thanks" %></p>
