<h1><%= t "request_mailer.success.subject" %></h1>
<h1><%= t("request_mailer.success.hello", name: @request.user.name) %></h1>
<p><%= t("request_mailer.success.message") %></p>
<p>
  <%= link_to request_url(@request) %>
</p>
<p><%= t("request_mailer.success.thanks") %></p>
