<%= turbo_stream.replace dom_id(@request, :status_detail) do %>
  <div id="<%= dom_id(@request, :status_detail) %>" class="py-1 px-2 rounded-lg text-center flex items-center justify-center gap-2 <%= status_class(@request.status)%>" >
    <%= status_icon(@request.status) %>
    <%= status_request_title(@request.status) %>
  </div>
<% end %>
<%= turbo_stream.remove dom_id(@request, :cancel_button) %>
