<%= turbo_stream.replace "rating-container" do %>
  <div data-controller="star-rating" class="flex space-x-3" id="rating-container">
    <%= form_with model: Rating.new, url: ratings_path, method: :post, data: { turbo_stream: true, target: "star-rating.form" }, id: "rating-form" do |form| %>
      <%= form.hidden_field :book_id, value: @book.id %>
      <%= form.hidden_field :rating, id: "rating-value", data: { target: "star-rating.ratingValue" }, value: @rating.rating %>
      <% (1..5).each do |num| %>
        <i data-index="<%= num %>" data-target="star-rating.stars" class="bi bi-star-fill text-3xl text-<%= @rating.rating >= num ? "yellow-400" : "gray-400" %> cursor-pointer" data-action="click->star-rating#submitRating"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= turbo_stream.update "rating-avg", class: "text-xl" do %>
  <i class="bi bi-star-fill text-yellow-400"></i>
  <%= @book.ratings.average(:rating) ? "#{@book.ratings.average(:rating).round(1)} (#{@book.ratings.count})" : t("books_page.no_rating") %>
<% end %>
