<% provide :page_title, t("layouts.application.request_list_title") %>
<div class="my-6 font-semibold text-4xl"><%= t "layouts.application.request_list_title" %></div>
<%= render_table do %>
  <%= table_head do %>
    <%= table_header t "author.index.stt", class: "w-1/12" %>
    <%= table_header class: "w-1/6" do %>
      User name
    <% end %>
    <%= table_header t "activerecord.attributes.book.quantity", class: "w-1/12" %>
    <%= table_header t "borrow_books.book.borrow_date", class: "w-1/6" %>
    <%= table_header t "borrow_books.book.created_date", class: "w-1/6" %>
    <%= table_header class: "w-1/12" do %>
      <%= t "activerecord.attributes.book.status" %>
    <% end %>
    <%= table_header class: "w-[300px]" do %>
      <%= t "requests.request.description" %>
    <% end %>
    <%= table_header t "requests.request.action", class: "w-1/12" %>
  <% end %>
  <%= table_body do %>
    <% @requests.each.with_index do |request, i| %>
      <%= table_row do %>
        <%= table_column do %>
          <%= (@request_pagy.page - 1) * @request_pagy.vars[:items] + i + 1 %>
        <% end %>
        <%= table_column do %>
          <%= request.user_name %>
        <% end %>
        <%= table_column do%>
          <%= request.book_quantity %>
        <% end %>
        <%= table_column do%>
          <%= request.borrow_date %>
        <% end %>
        <%= table_column do%>
          <%= request.created_at.strftime('%Y-%m-%d') %>
        <% end %>
        <%= table_column do %>
          <div id="<%= dom_id(request, :out_status)%>" class="p-2 rounded-lg text-center flex items-center justify-center gap-2 <%= status_class(request.status)%>" >
            <%= status_icon(request.status) %>
            <%= request.status %>
          </div>
        <% end %>
        <%= table_column class:"truncate w-[300px]" do %>
       <p id="<%= dom_id(request, :desc) %>" class="truncate w-[300px]" ><%= request.description%> </p>
        <% end %>
        <%= table_column class: "text-lg cursor-pointer" do%>
          <div>
            <%= render_alert_dialog do %>
              <%= alert_dialog_trigger do %>
                <%= render_button("View to detail", class: "text-sm py-1 px-2 bg-primary text-white rounded-lg text-center", variant: :outline) %>
              <% end %>
              <%= alert_dialog_content do %>
                <%= render "admin/requests/detail", request: request %>
              <% end %>
              <%= alert_dialog_cancel do %>
                <%= render_button(t("quit"), variant: :outline) %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @requests.empty? %>
  <%= render "shared/no_data" %>
<% else %>
  <div class="w-full items-center justify-center flex py-5 my-4">
    <%== pagy_nav(@request_pagy) %>
  </div>
<% end %>
