<% provide :page_title, t("layouts.application.request_list_title") %>
<div class="my-6 font-semibold text-4xl"><%= t "layouts.application.request_list_title" %></div>
<div class="flex flex-col lg:flex-row lg:justify-start lg:items-start mb-6">
  <%= search_form_for @q, url: admin_requests_path, method: :get, class: "flex flex-wrap gap-4 lg:gap-6 w-full lg:w-auto" do |f| %>
    <div class="flex flex-col w-full lg:w-auto">
      <%= f.label :id_or_books_title_or_user_name_cont, t("search2"), class: "text-sm font-medium mb-1" %>
      <%= f.text_field :id_or_books_title_or_user_name_cont, placeholder: t("requests.search_placeholder"), class: "py-1 px-2 border bg-background border-primary rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>
    <div class="flex flex-col w-full lg:w-auto">
      <%= f.label :status_eq,  t("activerecord.attributes.book.status"), class: "text-sm font-medium mb-1" %>
      <%= f.select :status_eq, options_for_select(status_request_options_for_select, params.dig(:q, :status_eq)), {include_blank: true}, {class: "py-1 px-2 border bg-background border-primary rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 pr-8"} %>
    </div>
    <div class="flex flex-col w-full lg:w-auto">
      <%= f.label :borrow_date_eq, t("borrow_books.book.borrow_date"), class: "text-sm font-medium mb-1" %>
      <%= f.date_field :borrow_date_eq, value: params.dig(:q, :borrow_date_eq).present? ? Date.parse(params[:q][:borrow_date_eq]).strftime(Settings.created_time_format) : nil, class: "py-1 px-2 border bg-background border-primary rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 pr-8" %>
    </div>
    <div class="flex items-center w-full lg:w-auto mt-[23px] ">
      <%= f.submit t("user.index.search"), class: "px-4 py-[6px] bg-primary text-white rounded-md hover:bg-primary focus:outline-none focus:ring-2 focus:ring-primary" %>
    </div>
  <% end %>
</div>
<%= render_table do %>
  <%= table_head do %>
    <%= table_header t "author.index.stt", class: "w-1/12" %>
    <%= table_header t "borrow_books.book.request_id", class: "w-[80px]" %>
    <%= table_header sort_link(@q, :user_name,t("borrow_books.book.user_name")), class: "w-[150px]" %>
    <%= table_header sort_link(@q, :book_quantity, t("activerecord.attributes.book.quantity")), class: "w-1/12" %>
    <%= table_header sort_link(@q, :borrow_date, t("borrow_books.book.borrow_date")), class: "w-1/6"  %>
    <%= table_header class: "w-[140px]" do %>
      <%= t "activerecord.attributes.book.status" %>
    <% end %>
    <%= table_header class: "w-max-[180px] flex-1" do %>
      <%= t "requests.request.description" %>
    <% end %>
    <%= table_header t "requests.request.action", class: "w-[120px]" %>
  <% end %>
  <%= table_body do %>
    <% @requests.each.with_index do |request, i| %>
      <%= table_row do %>
        <%= table_column do %>
          <%= (@request_pagy.page - 1) * @request_pagy.vars[:items] + i + 1 %>
        <% end %>
        <%= table_column class:"w-[80px]" do %>
          <div class="w-[80px]">#<%= request.id %></div>
        <% end %>
        <%= table_column class: "w-[150px]" do %>
          <div class="w-[150px]"><%= request.user_name %></div>
        <% end %>
        <%= table_column do%>
          <%= request.book_quantity %>
        <% end %>
        <%= table_column do%>
          <%= request.borrow_date %>
        <% end %>
        <%= table_column class: "w-[140px]" do %>
          <div id="<%= dom_id(request, :out_status)%>" class="w-[140px] p-2 rounded-lg text-center flex items-center justify-center gap-2 <%= status_class(request.status) %>" >
            <%= status_icon(request.status) %>
            <%= status_request_title(request.status) %>
          </div>
        <% end %>
        <%= table_column class:"truncate w-[180px]" do %>
       <p id="<%= dom_id(request, :desc) %>" class="truncate w-[180px]" ><%= request.description%> </p>
        <% end %>
        <%= table_column class: "text-lg cursor-pointer w-[120px]" do%>
          <div>
            <%= render_alert_dialog do %>
              <%= alert_dialog_trigger do %>
                <%= render_button(t("requests.request.view_to_detail"), class: "text-sm py-1 px-2 bg-primary text-white rounded-lg text-center w-[120px] justify-center", variant: :outline) %>
              <% end %>
              <%= alert_dialog_content do %>
                <%= render "admin/requests/detail", request: request %>
              <% end %>
              <%= alert_dialog_cancel do %>
                <%= render_button(t("quit"), variant: :outline) %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @requests.blank? %>
  <%= render "shared/no_data" %>
<% else %>
  <div class="w-full items-center justify-center flex py-5 my-4">
    <%== pagy_nav(@request_pagy) %>
  </div>
<% end %>
