<p><%= t("mailer.password_reset.greeting", email: @resource.email) %></p>

<p><%= t("mailer.password_reset.request") %></p>

<p><%= link_to t("mailer.password_reset.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("mailer.password_reset.ignore") %></p>

<p><%= t("mailer.password_reset.no_change") %></p>
