<%= table_body do %>
  <%= table_row do %>
    <%= table_column do %>
      <%= user_counter + @pagy.offset + Settings.number_1 %>
    <% end %>
    <%= table_column do %>
      <%= user.name %>
    <% end %>
    <%= table_column do %>
      <%= user.borrow_books.count_borrowing %>
    <% end %>
    <%= table_column do %>
      <%= user.borrow_books.count_borrowed %>
    <% end %>
    <%= table_column do %>
      <div class="flex gap-2" id="<%= dom_id(user.account, :btn) %>" >
        <%= account_status_button user %>
      </div>
    <% end %>
    <%= table_column do %>
      <%= render_dialog do %>
        <%= dialog_trigger do %>
          <%= link_to t("profile_menu.profile"),{}, class: "text-sky-600" %>
        <% end %>
        <%= render "user_profile", user: user %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
