<%= table_body do %>
  <%= table_row do %>
    <%= table_column do %>
      <%= user_counter + @pagy.offset + Settings.number_1 %>
    <% end %>
    <%= table_column do %>
      <%= user.name %>
    <% end %>
    <%= table_column do %>
      <%= BorrowBook.count_for_user user.id %>
    <% end %>
    <%= table_column do %>
      <%= user.borrow_books.count_borrowed %>
    <% end %>
    <%= table_column do %>
      <div class="flex gap-2">
        <%= account_status_button user %>
      </div>
    <% end %>
    <%= table_column do %>
      <%= render_dialog do %>
        <%= dialog_trigger do %>
          <%= render_button(t("profile_menu.profile"), class: "mr-2 p-3 py-1 mt-2 bg-transparent hover:bg-primary text-primary font-semibold hover:text-white border border-primary hover:border-transparent rounded-md font-medium") %>
        <% end %>
        <%= render "user_profile", user: user %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
