<% provide :page_title, t("user.index.title") %>
<div class="space-y-4" >
  <h1 class="text-2xl font-semibold mb-4 lg:mb-0"><%= t("user.index.title") %></h1>
  <div class="flex flex-col lg:flex-row lg:justify-start lg:items-start mb-6">
    <%= search_form_for @q, url: admin_users_path, method: :get, class: "flex flex-wrap gap-4 lg:gap-6 w-full lg:w-auto" do |f| %>
      <div class="flex flex-col w-full lg:w-auto">
        <%= f.label :name_cont, t("activerecord.attributes.user.name"), class: "text-sm font-medium mb-1" %>
        <%= f.text_field :name_cont, class: "py-1 px-2 border bg-background border-primary rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div class="flex flex-col w-full lg:w-auto">
        <%= f.label :account_email_cont, t("activerecord.attributes.account.email"), class: "text-sm font-medium mb-1" %>
        <%= f.text_field :account_email_cont, class: "py-1 px-2 border bg-background border-primary rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div class="flex flex-col w-full lg:w-auto">
        <%= f.label :account_status_eq,  t("activerecord.attributes.book.status"), class: "text-sm font-medium mb-1" %>
        <%= f.select :account_status_eq, options_for_select(account_status_for_select, params.dig(:q, :account_status_eq)), {include_blank: true}, {class: "py-1 px-2 border bg-background border-primary rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 pr-8"} %>
      </div>

      <div class="flex flex-col w-full lg:w-auto">
        <%= f.label :filter_by_status, t("user.index.due_status"), class: "text-sm font-medium mb-1" %>
        <%= select_tag :filter_by_status, options_for_select(status_options_for_select, params[:filter_by_status]), include_blank: true, class: "py-1 px-2 border bg-background border-primary rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 pr-8" %>
      </div>

      <div class="flex items-center w-full lg:w-auto mt-[23px] ">
        <%= f.submit t("user.index.search"), class: "px-4 py-[6px] bg-primary text-white rounded-md hover:bg-primary focus:outline-none focus:ring-2 focus:ring-primary" %>
      </div>
    <% end %>
  </div>
  <div class="flex justify-end mt-4 text-sm text-gray-600 ml-auto pt-6 pr-3">
    <%= t("user.index.showing_users", count: @users.size, total: @pagy.count) %>
  </div>
  <%= render_table do %>
    <%= table_head do %>
      <%= table_header t("author.index.stt") %>
      <%= table_header sort_link @q, :name, t("activerecord.attributes.user.name") %>
      <%= table_header sort_link @q, :borrowing_count, t("activerecord.attributes.user.borrowing") %>
      <%= table_header sort_link @q, :borrowed_count, t("activerecord.attributes.user.borrowed") %>
      <%= table_header t("user.index.action")%>
      <%= table_header t("activerecord.attributes.user.detail") %>
    <% end %>
    <%= table_body do %>
      <% render @users %>
    <% end %>
  <% end %>
  <div class="w-full items-center justify-center flex py-5">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
