<% provide :page_title, t("user.index.title") %>
<div class="flex justify-between items-center">
  <h1 class="text-xl font-semibold"><%= t "user.index.title" %></h1>
</div>
<%= render_table do %>
  <%= table_head do %>
    <%= table_header t "author.index.stt" %>
    <%= table_header t "activerecord.attributes.user.name" %>
    <%= table_header t "activerecord.attributes.user.borrowing" %>
    <%= table_header t "activerecord.attributes.user.borrowed" %>
    <%= table_header t "user.index.action" %>
    <%= table_header t "activerecord.attributes.user.detail" %>
  <% end %>
  <%= table_body do %>
    <% render @users %>
  <% end %>
<% end %>
<div class="w-full items-center justify-center flex py-5">
  <%== pagy_nav(@pagy) %>
</div>
